# Node.js dependencies


# Environment variable files
.env
/backend/.env



# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# IDE and editor-specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Dependency directories
/backend/node_modules/
/therapy-app/node_modules/

# Package manager files (e.g., Yarn, pnpm)
yarn.lock
pnpm-lock.yaml

# Optional npm debug files
npm-debug.log*
